**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.github
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
bootstrap/cache/*
storage/debugbar/*
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
storage/app/public/files/tryout/*
storage/app/public/images/acara/*
storage/app/public/images/bukti-bayar/*
storage/app/public/images/bukti-syarat/*
storage/app/public/images/jawaban/*
storage/app/public/images/kartu/*
storage/app/public/images/soal/*
storage/app/public/images/testimoni/*
storage/app/public/images/tryout/*
vendor
LICENSE
README.md
